<div class="jumbotron" ng-controller="TransferController">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <div class="login-panel panel panel-default">
                    <div class="panel-heading" align="center" style="background-color: #ffffff;">
                        <h3>Conta Destino</h3>
                    </div>
                    <div class="panel-body">

                        <form class="form-login">

                            <div class="alert alert-danger" ng-if="errorMessage != null" ng-cloak>
                                <p>{{errorMessage}}</p>
                            </div>


                            <label>CPF</label>
                            <input id="cpf" type="text" name="cpf" class="form-control" ng-value="transfer.destination.cpf" ng-model="transfer.destination.cpf" required>

                            <label>Agencia</label>
                            <input id="agencia" type="text" name="agencia" class="form-control" ng-value="transfer.destination.agencia" ng-model="transfer.destination.agencia" required>

                            <label>Conta</label>
                            <input id="conta" type="text" name="conta" class="form-control" ng-value="transfer.destination.numero" ng-model="transfer.destination.numero" required>

                            <label>Valor</label>
                            <input id="valor" type="text" name="conta" class="form-control" ng-value="transfer.amount" ng-model="transfer.amount" required>


                            <br>

                            <div class="alert alert-success" ng-if="success == true">
                                Transferência realizada com sucesso
                            </div>

                            <button type="button" class="btn btn-theme btn-block btn-primary" ng-click="doTransfer()"><i class="fa fa-exchange" aria-hidden="true"></i>
                                Transferir
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>