<div class="jumbotron container" ng-controller="CartController">

    <ul class="list-group">
        <label>Produtos</label>
        <li class="list-group-item row" ng-repeat="c in carts track by $index">

            <div class="col-md-2">
                <img width="48" height="48" src="{{ c.image }}" ng-href="#/product/{{c.id}}">
            </div>

            <div class="col-md-5">
                <a ng-href="#/product/{{c.id}}" >{{c.name}}</a>
            </div>

            <div class="col-md-2">
                <input type="number" class="form-control" ng-model="c.quantity" ng-change="calc()" value="{{c.quantity}}" size="5" width="10"/>
            </div>

            <div class="col-md-2">{{c.price | currency}}</div>

            <div class="col-md-1">
                <button type="button" class="pull-right btn btn-danger" ng-click="remCart(c.id)">
                    <span class="glyphicon glyphicon-remove"/>
                </button>
            </div>

        </li>
    </ul>


    <div class="row pull-right">

        <div class="">
            <span class="" style="padding-right: 20px">Total  </span>
            <span class="">{{order.amount | currency}}</span>
        </div>

        <button class="pull-right btn btn-success" ng-click="requestOrder()">Fechar Pedido</button>

    </div>
</div>