<div class="jumbotron container" ng-controller="HomeController">

    <div class="row">

        <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="p in products">
            <div class="thumbnail">
                <img src="{{p.image}}" alt="">
                <div class="caption">
                    <h4 class="pull-right">{{p.price | currency}}</h4>
                    <h4><a ng-href="#/product/{{p.id}}" >{{p.name}}</a>
                    </h4>
                    <p>{{p.detail | limitTo:90}} ...</p>
                </div>
                <div align="right" class="ratings">
                    <p>
                        <span ng-repeat="t in getTimes(p.ratting) track by $index" class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>