<div class="jumbotron container" ng-controller="PaymentStatusController">

    <div class="row">

        <div class="thumbnail">

            <div class="alert">
                <p>Processando o pagamento do seu pedido</p>
            </div>

            <div ng-show="inAnalysis == true" class="alert alert-warning">
                Em análise
            </div>

            <div ng-show="preAuthorized == true" class="alert alert-info">
                Pagamento pré autorizado
            </div>

            <div ng-show="authorized == true" class="alert alert-success">
                Pagamento autorizado!
            </div>

            <div ng-show="noAuthorized == true" class="alert alert-danger">
                Pagamento não autorizado, por favor verifique o pagamento com seu banco/cartão de crédito!
            </div>

        </div>
    </div>
</div>